<!-- <button (click)="onSave($event)">Save</button>-->
<!-- 
<div (click)="onDivClick()">    
    <button (click)="onSave($event)">Save</button>  
  </div>   -->

  <!-- <button (click)="subscribe()">Subscribe</button>
    <button (click)="unsubscribe()">Unsubscribe</button> -->
    
<!-- <button (click)="subscribess()">Subscribe</button>-->


<!-- <h1>Angular Unsubscribe from Observable Example</h1>
 
Show Child :
<input
  type="checkbox"
  id="showChild"
  name="showChild"
  [(ngModel)]="showChild"
/>
 -->

