<h1>{{ title }}</h1>

<div>
   <button mat-raised-button color="Primary" (click)="find10thPrimeNumber()">Normal</button>
   <div>The 10<sup>th</sup> prime number is {{ prime10 }}</div> <br/>

   <button mat-raised-button color="Primary" (click)="find1000thPrimeNumber()">Multi Thread</button>
   <div>The 1000<sup>th</sup> prime number is {{ prime1000 }}</div>
   <div>The 5000<sup>th</sup> prime number is {{ prime10001 }}</div>
   <div>The 500<sup>th</sup> prime number is {{ prime10002 }}</div>
   <div>The 20000<sup>th</sup> prime number is {{ prime10003 }}</div>
   <div>The 800<sup>th</sup> prime number is {{ prime10004 }}</div>
</div>

<br><br>


<button mat-raised-button color="Primary" routerLink="error" >Error Reading</button>&nbsp;&nbsp;&nbsp;
<button mat-raised-button color="Primary" routerLink="multi" >Multi Treading</button><br><br><br>



<button mat-raised-button color="Primary" routerLink="subscription" >Event Subscription</button>

<input
type="checkbox"
id="showChild"
name="showChild"
(click)="showChild"
/>

<app-child *ngIf="showChild"></app-child>

<router-outlet></router-outlet>